body 
	{background: black;
	color: white;
	}
	
h1
	{color: blue;
	}
	
h2	{color: #7FFF00
}

body
	{
		font-weight bold;
		font-style: italic;
		font-size:150%;
		font-family: Arial, Verdana, sans-serif;
	}
	
p
	{color: #DC143C
	}

ol
{color: 
	rgb(139,0,139)
}

dl
	{color: #FF8C00
	}
